@inherits LayoutComponentBase

<div class="page d-flex flex-column">
    <NavBar/>
    <main class="p-1 p-sm-4 d-flex flex-column flex-grow-1">
        @Body
    </main>
    <ErrorDialog/>
    <BusyDialog/>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
