root = true


#### Core EditorConfig Options ####
[*]
indent_size = 4
indent_style = space
tab_width = 4
end_of_line = crlf
insert_final_newline = true

# StyleCorp Custom Rules
[*.cs]
# SA0001XmlCommentAnalysisDisabled
dotnet_diagnostic.SA0001.severity = None
# SA1101PrefixLocalCallsWithThis
dotnet_diagnostic.SA1101.severity = None
# SA1116SplitParametersMustStartOnLineAfterDeclaration
dotnet_diagnostic.SA1116.severity = None
# SA1134AttributesMustNotShareLine
dotnet_diagnostic.SA1134.severity = None
# SA1200UsingDirectivesMustBePlacedCorrectly
dotnet_diagnostic.SA1200.severity = None
# SA1309FieldNamesMustNotBeginWithUnderscore
dotnet_diagnostic.SA1309.severity = None
# SA1503BracesMustNotBeOmitted
dotnet_diagnostic.SA1503.severity = None
# SA1600ElementsMustBeDocumented
dotnet_diagnostic.SA1600.severity = None
# SA1601PartialElementsMustBeDocumented
dotnet_diagnostic.SA1601.severity = None
# SA1602EnumerationItemsMustBeDocumented
dotnet_diagnostic.SA1602.severity = None
# SA1633FileMustHaveHeader
dotnet_diagnostic.SA1633.severity = None
# SA1117ParametersMustBeOnSameLineOrSeparateLines
dotnet_diagnostic.SA1117.severity = None
