h1 {
    font-size: 1rem;
}

.form-label {
    font-size: 0.7rem;
    margin: 0px;
}

.invalid-feedback {
    font-size: 0.7rem;
}

.min-col-width {
    min-width: 12rem;
}

textarea.form-control {
    min-height: 8rem;
}

body {
    overflow: hidden;
}
