@page "/"

<PageTitle>CoEditor</PageTitle>

<h1>Welcome</h1>

Welcome to the CoEditor. You can find all information and source code at <a href="https://github.com/lizzyTheLizard/coeditor">GitHub</a>

