@* ReSharper disable Html.PathError *@
<!--suppress HtmlRequiredTitleElement -->
@using System.Configuration
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="CoEditor.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet @rendermode="ComponentRenderMode"/>
</head>

<body>
<Routes @rendermode="ComponentRenderMode"/>
<script src="_framework/blazor.web.js"></script>
<script src="bootstrap/bootstrap.bundle.min.js"></script>
<script src="interop.js"></script>
</body>

</html>

@code {
    public IComponentRenderMode ComponentRenderMode
    {
        get
        {
            var input = Configuration.GetValue<string?>("RenderMode") ?? "Auto";
            return input switch
            {
                "Auto" => InteractiveAuto,
                "Server" => InteractiveServer,
                "WebAssembly" => InteractiveWebAssembly,
                _ => throw new ConfigurationErrorsException("Invalid render mode " + input),
            };
        }
    }
}
