@page "/editor"
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Editor</PageTitle>
<div class="layout">
    <EditorContext OnLanguageChange="@(l => Language = l)" OnTemplateChange="@(t => Context = t)"></EditorContext>
    <EditorText Context="@Context" Language="@Language"></EditorText>
</div>

@code {
    public string? Context { get; set; }
    public Language Language { get; set; } = Language.EN;
}

