@page "/"
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<h1>Hello, @message</h1>

Welcome to your new app.
@code {
    private string? message;

    protected override void OnInitialized()
    {
        message = $"Initialized at {DateTime.Now}";
        Logger.LogInformation("Information from Site");
        Logger.LogWarning("Warning from Site");
    }
}

