@inject TemplateService TemplateService
@inject ConversationService ConversationService

<div class="col min-col-width">
    <label for="template" class="form-label">Template</label>
    <InputSelect id="template" class="form-select form-select-sm"
                 @bind-Value="_templateId"
                 @bind-Value:after="AfterTemplateChanged">
        @foreach (var template in Templates)
        {
            <option value="@template.Id">@template.Name</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public Template[] Templates { get; set; } = [];

    [Parameter]
    public Template? Template { get; set; }

    [Parameter]
    public EventCallback<Template?> TemplateChanged { get; set; }

    private Guid _templateId;

    private async Task AfterTemplateChanged()
    {
        Template = Templates.FirstOrDefault(t => t.Id == _templateId);
        await TemplateChanged.InvokeAsync(Template);
    }
}
