<ul class="nav nav-tabs">
@foreach (var language in Enum.GetValues<Language>())
{
    <li class="nav-item">
        <a 
            class="@(Language == language? "nav-link active": "nav-link")" 
            @onclick="() => SetLanguage(language)" @onclick:preventDefault
            aria-current="page" href="#">
            @language.GetDescription()
        </a>
    </li>
}
</ul>
 
@code {

    [Parameter]
    public Language Language { get; set; }

    [Parameter]
    public EventCallback<Language> LanguageChanged { get; set; }

    private async Task SetLanguage(Language language)
    {
        Language = language;
        await LanguageChanged.InvokeAsync(language);
    }
}
