<div class="row">
    <label for="@("profile" + Language)" class="form-label">Profile</label>
    <InputTextArea id="@("profile" + Language)"
                   class="@("form-control form-control-sm mb-1 " + (IsValid ? "is-valid" : "is-invalid"))"
                   @bind-Value="ProfileText"
                   @bind-Value:after="() => ProfileTextChanged.InvokeAsync(ProfileText)"/>

    <div class="invalid-feedback">Required</div>
</div>
<div class="row justify-content-end pb-4">
    <div class="col-12 col-sm-4 col-md-2 p-0">
        <button class="btn btn-primary" disabled="@(!IsValid)"
                style="width: 100%;"
                @onclick="() => SaveProfile.InvokeAsync()">Save
        </button>
    </div>
</div>

@code {

    [Parameter][EditorRequired]
    public Language Language { get; set; }

    [Parameter]
    public string ProfileText { get; set; } = "";

    [Parameter]
    public EventCallback<string> ProfileTextChanged { get; set; }

    [Parameter]
    public EventCallback SaveProfile { get; set; }

    public bool IsValid => !string.IsNullOrEmpty(ProfileText);
}