<div class="row">
    <label for="@("template_" + Template?.Id)" class="form-label">@Template?.Name</label>
    <InputTextArea id="@("template_" + Template?.Id)"
                   class="@("form-control form-control-sm mb-1 " + (IsValid ? "is-valid" : "is-invalid"))"
                   @bind-Value="Template!.Text"/>
</div>
<div class="row justify-content-end pb-4">
    <div class="col-12 col-sm-4 col-md-2 p-0 pe-sm-1">
        <button class="btn btn-primary" disabled="@(!IsValid)" style="width: 100%;"
                @onclick="() => SaveTemplate.InvokeAsync()">Save
        </button>
    </div>
    <div class="col-12 col-sm-4 col-md-2 p-0">
        <button class="btn btn-danger" style="width: 100%;"
                @onclick="() => DeleteTemplate.InvokeAsync()">Delete
        </button>
    </div>
</div>

@code {
    [Parameter]
    public Template? Template { get; set; }

    [Parameter]
    public EventCallback DeleteTemplate { get; set; }

    [Parameter]
    public EventCallback SaveTemplate { get; set; }

    private bool IsValid => !string.IsNullOrEmpty(Template?.Text);
}